Repository cvxgrp/dccp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, ty, pylint, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: uv run check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: uv run check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: uv run check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: uv run check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-xml
        name: ✅ Check XML files
        entry: check-xml
        language: system
        types: [xml]
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        exclude: ^uv\.lock$
        entry: uv run codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: uv run detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: ty
        name: 🆎 Static type checking using ty
        language: system
        types: [python]
        entry: uv run ty check
        require_serial: true
        exclude: ^docs/
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branchpre-commit migrate-config
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
        exclude: ^docs/
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: uv run trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: yamllint
        name: 🎗  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: uv run yamllint

Continue refactor
  examples/circle_packing.py
  src/dccp/__init__.py
  src/dccp/constraint.py
  src/dccp/initialization.py
  src/dccp/problem.py
  src/dccp/utils.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update initialization.py
  src/dccp/initialization.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Unit test initialization.py
  src/dccp/initialization.py
  tests/test_initialization.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update initialization.py again
  src/dccp/initialization.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Small comments
  src/dccp/initialization.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Create unit test files
  src/dccp/problem.py
  src/dccp/utils.py
  tests/test_constraint.py
  tests/test_example.py
  tests/test_linearize.py
  tests/test_objective.py
  tests/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Refactor problem.py
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Start rewriting problem.py
  src/dccp/problem.py
  src/dccp/problem.py.old
  src/dccp/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update problem.py
  src/dccp/initialization.py
  src/dccp/objective.py
  src/dccp/problem.py
  src/dccp/problem.py.old
  src/dccp/utils.py
  tests/test_constraint.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update problem.py
  dccp/linearize.py
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Fix problem.py issues
  src/dccp/objective.py
  src/dccp/problem.py
  tests/test_constraint.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Fix some bugs
  pyproject.toml
  src/dccp/constraint.py
  src/dccp/objective.py
  src/dccp/problem.py
  tests/test_constraint.py
  tests/test_objective.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, ty, pylint

Fix small issues
  pyproject.toml
  src/dccp/objective.py
  src/dccp/problem.py
  tests/test_constraint.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, ty, pylint

Test logarithmic problem
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Fix logging
  pyproject.toml
  tests/conftest.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, ty, pylint

Fix issue with objective value of negatet objective
  debug_result.py
  src/dccp/objective.py
  src/dccp/problem.py
  src/dccp/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Add example to test bilinear problem
  src/dccp/linearize.py
  src/dccp/objective.py
  src/dccp/problem.py
  src/dccp/utils.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Add bilinear example
  src/dccp/problem.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Fix bug in problem.py
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

cleanup linearize.py
  src/dccp/linearize.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Fix issue in slack var sums
  src/dccp/objective.py
  src/dccp/problem.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update examples
  docs/src/api.md
  docs/src/examples/boolean_least_squares.ipynb
  docs/src/examples/index.md
  examples/boolean_least_squares.ipynb
  examples/circle_packing.ipynb
Due: codespell

Update examples
  docs/src/examples/control_collision_avoidance.ipynb
  docs/src/examples/index.md
  docs/src/examples/path_planning.ipynb
  examples/control_collision_avoidance.ipynb
  examples/path_planning.ipynb
Due: codespell

Remove accidentally committed .ipynb files from docs/src/examples
  docs/src/examples/boolean_least_squares.ipynb
  docs/src/examples/circle_packing.ipynb
  docs/src/examples/control_collision_avoidance.ipynb
  docs/src/examples/path_planning.ipynb
Due: codespell

Add more examples
  .gitignore
  debug_result.py
  docs/src/examples/index.md
  examples/filter_design.ipynb
  examples/phase_retrieval.ipynb
  examples/sparse_recovery.ipynb
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Solve issue with solver not being passed correctly to DCCP
  src/dccp/problem.py
  src/dccp/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Add sparse_recovery.ipynb
  dccp/linearize.py
  examples/sparse_recovery.ipynb
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Fix sparse recovery notebook
  .gitignore
  examples/sparse_recovery.ipynb
Due: codespell

Update sparse_recovery example
  docs/src/examples/index.md
  examples/sparse_recovery.ipynb
Due: codespell

Return none in linearize.py if linearization was not succesful
  examples/sparse_recovery.ipynb
  src/dccp/linearize.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Add multiple starts
  examples/circle_packing.ipynb
  src/dccp/objective.py
  src/dccp/problem.py
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Improve test coverage
  src/dccp/linearize.py
  src/dccp/objective.py
  src/dccp/problem.py
  src/dccp/utils.py
  tests/test_constraint.py
  tests/test_linearize.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Improve test coverage
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Improve coverage
  tests/test_example.py
  tests/test_problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Ruff formatting
  docs/src/conf.py
  examples/control_collision_avoidance.ipynb
  examples/filter_design.ipynb
  examples/path_planning.ipynb
  examples/phase_retrieval.ipynb
  examples/sparse_recovery.ipynb
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Ignore examples folder for ruff
  pyproject.toml
  src/__init__.py
  tests/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, ty, pylint

Remove ty because it's still too unstable
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Add final example notebooks
  .gitignore
  docs/src/examples/index.md
  examples/gaussian_covariance_matrix.ipynb
  examples/sparse_recovery.ipynb
  examples/sparse_singular_vectors.ipynb
Due: codespell
