Repository cvxgrp/dccp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, ty, pylint, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: uv run check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: uv run check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: uv run check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: uv run check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-xml
        name: ✅ Check XML files
        entry: check-xml
        language: system
        types: [xml]
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        exclude: ^uv\.lock$
        entry: uv run codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: uv run detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: ty
        name: 🆎 Static type checking using ty
        language: system
        types: [python]
        entry: uv run ty check
        require_serial: true
        exclude: ^docs/
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branchpre-commit migrate-config
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
        exclude: ^docs/
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: uv run trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: yamllint
        name: 🎗  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: uv run yamllint

Add CI files
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yaml
  .github/labels.yaml
  .github/release-drafter.yml
  .github/workflows/codeql.yaml
  .github/workflows/docs.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Make pre-commit pass
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/dccp/problem.py
  tests/test_problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, ty, pylint, yamllint

Update CI files
  .github/dependabot.yaml
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Update test CI
  .github/workflows/tests.yaml
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Update CI test combinations
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Fix unit tests
  tests/test_example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update readme
  LICENSE
  README.md
Due: codespell

Fix readme
  README.md
Due: codespell

Add docs
  docs/src/citing.md
  docs/src/faq.md
  docs/src/index.md
  docs/src/install.md
  docs/src/resources.md
  docs/src/settings.md
  docs/src/user-guide.md
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update documentation
  docs/src/changelog.md
  docs/src/conf.py
  docs/src/contributing.md
  docs/src/examples/index.md
  docs/src/index.md
  docs/src/settings.md
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Fix DCCPsettings test
  tests/test_problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update docs
  docs/src/index.md
  docs/src/settings.md
Due: codespell

Update docstrings and api docs
  docs/src/api.md
  docs/src/conf.py
  src/dccp/constraint.py
  src/dccp/initialization.py
  src/dccp/linearize.py
  src/dccp/problem.py
  src/dccp/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Update linearize docstring
  src/dccp/linearize.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Replace cvx.* by cp.*
  README.md
  docs/src/index.md
  docs/src/install.md
  docs/src/settings.md
  docs/src/user-guide.md
Due: codespell

Add copy button to docs
  docs/src/conf.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Update CITATION.cff
  CITATION.cff
Due: codespell

Remove lock.yaml and stale.yaml
  .github/workflows/lock.yaml
  .github/workflows/stale.yaml
Due: check-yaml, codespell, yamllint

Update LICENSE file to correct GPLv3 license
  LICENSE
Due: codespell

Update maintainers
  pyproject.toml
Due: check-toml, codespell

Update result status in user guide
  docs/src/user-guide.md
Due: codespell

Remove duplicate DCCPIter
  src/dccp/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Remove redundant function is_obj_dccp
  src/dccp/problem.py
  src/dccp/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Replace np.matrix with np.array in example notebooks and various other fixes
  examples/boolean_least_squares.ipynb
  examples/circle_packing.ipynb
  examples/control_collision_avoidance.ipynb
  examples/filter_design.ipynb
  examples/gaussian_covariance_matrix.ipynb
  examples/path_planning.ipynb
  examples/phase_retrieval.ipynb
Due: codespell

Clarify `cost_ns` to be `cost_no_slack`
  src/dccp/problem.py
  tests/test_problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Improvements to sparse_recovery notebook
  examples/sparse_recovery.ipynb
Due: codespell

Fix docs deployment
  .github/workflows/docs.yaml
  examples/boolean_least_squares.ipynb
  examples/circle_packing.ipynb
  examples/control_collision_avoidance.ipynb
  examples/filter_design.ipynb
  examples/gaussian_covariance_matrix.ipynb
  examples/path_planning.ipynb
  examples/phase_retrieval.ipynb
  examples/sparse_recovery.ipynb
  examples/sparse_singular_vectors.ipynb
  pyproject.toml
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, ty, pylint, yamllint

Hopefully fix CI
  .github/workflows/docs.yaml
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Be more strict about when to run docs CI
  .github/workflows/docs.yaml
Due: check-yaml, codespell, yamllint

Fix CI (#99)
  .github/workflows/docs.yaml
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Remove doc testing
  .github/workflows/docs.yaml
  .gitignore
  docs/src/_static/cvxlogo-transparent.png
  docs/src/_static/cvxlogo.png
Due: check-yaml, codespell, yamllint

Remove doc testing (#100)
  .github/workflows/docs.yaml
  .gitignore
  docs/src/_static/cvxlogo-transparent.png
  docs/src/_static/cvxlogo.png
Due: check-yaml, codespell, yamllint

reboot of dccp
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  pyproject.toml
  src/dccp/linearize.py
  src/dccp/problem.py
  src/dccp/py.typed
  tests/test_cvxpy_compat.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, ty, pylint, yamllint

fix type errors
  pyproject.toml
  src/dccp/problem.py
  tests/test_constraint.py
  tests/test_cvxpy_compat.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, ty, pylint

remove try except import
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

populate problem value when converged
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

silence linter
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

consistent with reboot
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Populate problem value when converged (#117)
  src/dccp/problem.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, ty, pylint

Reboot of dccp (#116)
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  pyproject.toml
  src/dccp/linearize.py
  src/dccp/problem.py
  src/dccp/py.typed
  tests/test_constraint.py
  tests/test_cvxpy_compat.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, ty, pylint, yamllint
